asn1crypto
botbuilder
botbuilder-schema
botframework-connector
certifi
cffi
chardet
cryptography
idna
isodate
msrest
oauthlib
pip
pycparser
PyJWT
requests
requests-oauthlib
setuptools
six
ujson
urllib3
wheel
